body {
    font-family: 'Roboto', sans-serif;
  }
  

.chat-container {
width: 80%;
margin: 0 auto;
border: 1px solid #ccc;
border-radius: 5px;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.chat-header {
background-color: #4CAF50;
color: #fff;
padding: 10px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
display: flex;
}

.logout-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #c62828;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}
.logout-link:hover {
  background-color: #b71c1c;
}
.button-container {
  margin-left: auto;
}

.chat-header h1 {
margin: 0;
}

.chat-body {
height: 300px;
overflow-y: scroll;
padding: 10px;
}

.chat-message {
margin: 10px 0;
padding: 10px;
border-radius: 5px;
}

.bot-message {
background-color: #f2f2f2;
}

.user-message {
background-color: #4CAF50;
color: #fff;
}

.chat-footer {
padding: 10px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}

#chat-input {
width: 90%;
padding: 10px;
border: none;
border-radius: 5px;
margin-right: 10px;
}

#send-button {
background-color: #4CAF50;
color: #fff;
border: none;
padding: 10px;
border-radius: 5px;
cursor: pointer;
}
