{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Chat with Health Helper</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap">
  </head>
  <body>
    <div class="chat-container">
      <div class="chat-header">
        <h1>Chat with Health Helper</h1>
        <div class="button-container">
          <a class="logout-link" href="{% url 'logout' %}">Logout of account</a>
        </div>
      </div>
      <div class="chat-body">
        <div class="chat-message bot-message">
          <p>Hello! How can I assist you today?</p>
        </div>
      </div>
      <div class="chat-footer">
          <input type="text" id="chat-input" placeholder="Type your message...">
          <button type="submit" id="send-button">Send</button>
      </div>
    </div>
    <script src="{% static 'js/chat.js' %}"></script>
    <script>
      const inputElement = document.getElementById("chat-input");
      const buttonElement = document.getElementById("send-button");

      inputElement.addEventListener("keydown", function(event) {
        if (event.keyCode === 13) {
          event.preventDefault();
          buttonElement.click();
        }
      });
    </script>
  </body>
</html>
